/* Phone Screen*/
.tablet {
    display: none;
}
.pc {
    display: none;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000000;
}
.outer_header {
    display: block;
    background: linear-gradient(180deg, #A70000 0%, #3D0000 100%);
    width: 100%;
    height: 67px;
}
.inner_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    position: relative;
    top: 10px;
}
#search {
    width: 168px;
    height: 28px;
    border-radius: 19px;
    background-color: white;
}
.name_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name_container a {
   text-decoration: none; 
   color: white;
   margin: 20px 0 20px 0;
}

@media only screen and (min-width:580px) {

    .name_container {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    } 
    .name_container a {
        text-decoration: none; 
        color: white;
        margin: 20px 0 20px 0;
        font-size: 11px;
     }
     .outer_name_container {
        margin-left: 5%;
}

}

@media only screen and (min-width: 805px) {
.phone {
    display: none;
}
.pc {
    display: block;
}
.outer_header {
    display: block;
    background: #000;
    width: 100%;
    height: 86px;
    position: fixed;
    z-index: 30;
    top: 0;
}
#search {
    width: 25%;
    height: 38px;
    border-radius: 19px;
    background-color: white;
    border: solid 3px;
}
#cau_icon {
    width: 65px;
    height: 65px;
}
nav a{
text-decoration: none;
color: white;
padding: 25px;
font-size: 20px;
font-weight: bolder;
}
.inner_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    position: relative;
    top: 10px;
}
.name_container a {
    text-decoration: none; 
    color: white;
    margin: 20px 0 20px 0;
    font-size: 20px;
 }
 .outer_name_container {
    margin-left: 10%;
}
.name_container {
    margin-top: 9pc;
}


}





/* Drop Down Menu */  
@media only screen and (max-width: 801px) {
    /* The initial position of the dropdown, hidden off the screen */
    .dropdown-content {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      background-color: #910606;
      padding: 20px;
      transition: top 0.3s ease;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      z-index: 100;
    }
    .dropdown-content a {
      display: block;
      text-align: center;
      padding: 20px;
      color: white;
      text-decoration: none;
    }
    .dropdown-content button {
      display: block;
      margin: 0 auto;
      background-color: white;
      width: 50%;
      height: 50px;
      border-radius: 10px;
      font-size: 20px;
      
    }
    
    /* Show the dropdown when the button is clicked */
    .show-dropdown {
      top: 0;
    }
    .splitter {
      display: block;
      background-color: white;
      width: 100%;
      height: 1px;
    }
    
}