body {
    background: linear-gradient(45deg, rgb(125, 5, 5), rgb(57, 4, 4));
    
 }
 .title {
    color: white;
    text-align: center;
    margin-top: 150px;
 }
 .login {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
 }
 .login input {
    display: block;
    width: 250px;
    height: 25px;
    margin: 10px 0 ;
 }
 .login button {
    display: block;
    width: 250px;
    height: 25px;
    margin: 10px 0 
 }